<div class="unladen-injected injected">

  <div class="rst-versions rst-badge" data-toggle="rst-versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      v: {{ current_version.name }}
      <span class="icon icon-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#fcfcfc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
      </span>
    </span>
    <div class="rst-other-versions">

      {% block versions %}
      {% if versions|length >= 1 %}
      <dl>
        <dt>Versions</dt>
        {% for (name, version) in aliases %}
        <dd>{% if version.ref == current_version.ref %} <strong> {% endif %}
        <a href="{{ base_url }}/{{ version.path }}">{{ name }}</a>
        {% if version.ref == current_version %} </strong> {% endif %}</dd>
        {% endfor %}
        {% for version in versions %}
        {% if version.active %}
        <dd>{% if version.ref == current_version.ref %} <strong> {% endif %}
        <a href="{{ base_url }}/{{ version.path }}">{{ version.name }}</a>
        {% if version.ref == current_version %} </strong> {% endif %}</dd>
        {% endif %}
        {% endfor %}
      </dl>
      {% endif %}
      {% endblock %}

      {% block vcs %}
      {% if github_edit_url %}
      <dl>
        <dt>On GitHub</dt>
        <dd>
          <a href="{{ github_view_url }}">View</a>
        </dd>
        {% if version.is_editable %}
        <dd>
          <a href="{{ github_edit_url }}">Edit</a>
        </dd>
        {% endif %}
      </dl>
      {% elif bitbucket_url %}
      <dl>
        <dt>On Bitbucket</dt>
        <dd>
          <a href="{{ bitbucket_url }}">Edit</a>
        </dd>
      </dl>
      {% elif gitlab_edit_url %}
      <dl>
        <dt>On GitLab</dt>
        <dd>
          <a href="{{ gitlab_view_url }}">View</a>
        </dd>
        {% if version.is_editable %}
        <dd>
          <a href="{{ gitlab_edit_url }}">Edit</a>
        </dd>
        {% endif %}
      </dl>
      {% endif %}
      {% endblock %}

    </div>
  </div>

</div>
